.list {
  display: flex;
  min-width: 38rem;
  max-width: 70rem;
  min-height: 35vh;
  max-height: 65vh;
  background-color: #1f1f1f;
  border: 5px solid rgb(34, 34, 34);
  border-radius: 1rem;
  padding: 4rem 3rem;
  position: relative;
  margin-top: 2rem;
}

.items {
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  padding: 0rem 1rem;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(7, 7, 7, 0.418);
    border-radius: 1rem;
  }
}

.item:first-child {
  margin-top: 0rem;
}
.item:last-child {
  margin-bottom: 0rem;
}

.item {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  margin: 1rem 0rem;
  transition: all 0.5s ease;
  border-radius: 0.5rem 1rem 1rem 0.5rem;
  padding-left: 0.5rem;
  h2 {
    position: relative;
    padding: 0.5rem 0;
    margin-right: 0.5rem;
    width: fit-content;
  }
  .btns {
    display: flex;
    button {
      padding: 0.5rem;
      font-size: 1rem;
    }
  }
}

.item.checked {
  text-decoration: line-through;
}

.checkBtn {
  background: #00e099;
}
.deleteBtn {
  background: #e03c00;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.hint {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 425px) {
  .list {
    min-width: 100vw;
  }
}

@media screen and (max-width: 375px) {
  .list {
    padding: 3rem 1rem;
  }
}
